.product-display {
  margin: 30px auto;
  padding: 0 20px;
}

.product-display h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #413d3d;
}

.product-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  row-gap: 30px;
  align-items: stretch;
}

@media (max-width: 768px) {
  .product-item {
    max-width: 100%;
  }

  .product-display h2{
    font-size: 20px;
  }
  .price-container {
    flex-wrap: wrap;
  }

  .discount-tag {
    margin-top: 5px;
  }
}