.product-item {
  width: 100%; 
  max-width: 400px;
  height: auto;
  margin: 20px auto; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px #00000015;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1s;
  background-color: #fff;
}
.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


.product-item-img-container {
  position: relative;
  width: 100%;
  aspect-ratio:3/3 ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  object-fit: cover;
  box-sizing: border-box;
}


.product-item-info {
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.price-container { 
  display: flex;
  align-items: center;
  margin-top: 5px;
  box-sizing: border-box;
  justify-content: space-around;
  overflow: hidden;  
}
.product-item-img-container .add{
  width: 200px;
  position: absolute;
  /* box-shadow: 1px 1px 1px 1px black; */
  border: 1px solid black;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 5px 10px;
  padding: 2px;
  height: 45px;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  width: 40px;
  height: 40px;
  opacity: 20%;
}
.slider-arrow:hover{
  opacity: 60%;
  transition: 0.3 opacity ease ;
}
.slider-arrow img {
  width: 100%;
  height: auto;
}

.left-arrow {
  left: 1px;
  transform: translateY(-50%) rotate(180deg);
}

.right-arrow {
  right: 1px;
}
.add-text{
  border:2px solid black;
  width:200px;
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: center;

  gap: 15px;
  z-index: 100;
  /* bottom: 15px;
  right: 15px; */
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px 10px;
  color: black;
  padding: 2px;
  height: auto;
  background-color:rgb(233, 212, 212);
}
.add-text:hover{
  background-color: white;
  scale: 1.008;
  transition: 0.5s  ease ;
}
.price-container img{
  width: 50px;
  height:auto;
}
.product-item-name-rating {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  gap: 5px;
}
.product-item-name-rating p{
  font-size: 20px;
  font-weight: 600;
}
.product-item-counter{
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  z-index: 100;
}

.product-item-counter img{
  width: 30px;
  height: auto;
}

.product-item-price {
  font-size: 22px;
  font-weight: 500;
  color: black;
  flex-shrink: 0; 
  padding-left: 5px;
  /* white-space: nowrap; */
}
.product-item-price-discount {
  text-decoration: line-through;
  color: rgb(65, 43, 14);
  /* flex-shrink: 0; */
  /* white-space: nowrap; */
}
.color-container {
  display: flex;
  gap: 5px;
}

.color-btn:hover {
  transform: scale(1.2);
}

.color-btn{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.color-btn:hover {
  transform: scale(1.2);
}
.color-btn:focus{
  border: 2px solid black;
}
.discount-tag {
  align-items: center;
  background-color: tomato;
  color: white;
  padding: 6px;
  border: 1px solid tomato;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  font-weight: 600;
}

.out-of-stock {
  color: rgb(65, 43, 14);
  font-weight: bold;
  width: auto;
  padding: 2.5px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 1px 1px 1px 1px black;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  height: auto;
  background-color: white;

  
}
.product-item.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}


.product-item-description {
  font-size: 12px;
  color: #676767; 
  font-size: 16px;
 
}
.price-text{
  display: flex;
}
.details-toggle-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}
.details-toggle-btn:hover {
  background-color: #e0e0e0;
}


 @media (max-width: 1050px) {
  .product-item {
    height: auto;
    max-width: 300px; 
  }
  .price-container{
   
    margin: 0;
    justify-content: center;
  }
  .details-toggle-btn{
    padding: 0;
    margin: 0;
  }
  .discount-tag {
    display: none;
  }
  .color-container {
    flex-direction: column;
    gap: 1px;
  }
  .product-item-name-rating {
  margin: 0;
  }
  .product-item-name-rating p{
    font-size: 15px;
  }
  .add-text{
    width: 85%;
    height: 15%;
    font-size: medium;
  }
  .add-text img{
    width: 13%;
    height: 98%;
  }
} 
 
