.product-item {
  width: 100%; 
  max-width: 400px;
  height: auto;
  margin: 20px auto; 
  border-radius: 10px;
  box-shadow: 0px 4px 8px #00000015;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1s;
  background-color: #fff;
}
.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}


.product-item-img-container {
  position: relative;
  width: 100%;
  aspect-ratio:3/3 ;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  object-fit: cover;
  box-sizing: border-box;
}


.product-item-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-sizing: border-box;
  gap: 5px;
}

.price-container { 
  display: flex;
  align-items: center;
  margin-top: 5px;
  box-sizing: border-box;
  justify-content: space-around;
  overflow: hidden;  
}
.product-item-img-container .add{
  width: 35px;
  position: absolute;
  box-shadow: 1px 1px 1px 1px black;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
  height: auto;
}
.price-container img{
  width: 50px;
  height: fit-content;
}
.product-item-name-rating {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  gap: 5px;
}
.product-item-name-rating p{
  font-size: 20px;
  font-weight: 600;
}
.product-item-counter{
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  z-index: 100;
}

.product-item-counter img{
  width: 30px;
  height: auto;
}

.product-item-price {
  font-size: 22px;
  font-weight: 500;
  color: black;
  flex-shrink: 0; 
  padding-left: 5px;
  /* white-space: nowrap; */
}
.product-item-price-discount {
  text-decoration: line-through;
  color: rgb(65, 43, 14);
  /* flex-shrink: 0; */
  /* white-space: nowrap; */
}
.color-container {
  display: flex;
  gap: 5px;
}

.color-btn:hover {
  transform: scale(1.2);
}

.color-btn{
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.color-btn:hover {
  transform: scale(1.2);
}
.color-btn:focus{
  border: 2px solid black;
}
.discount-tag {
  align-items: center;
  background-color: tomato;
  color: white;
  padding: 6px;
  border: 1px solid tomato;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  font-weight: 600;
}

.out-of-stock {
  color: rgb(65, 43, 14);
  font-weight: bold;
  width: auto;
  padding: 2.5px;
  border-radius: 10px;
  position: absolute;
  box-shadow: 1px 1px 1px 1px black;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  height: auto;
  background-color: white;

  
}
.product-item.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
}


.product-item-description {
  font-size: 12px;
  color: #676767; 
  font-size: 16px;
 
}
.price-text{
  display: flex;
}

/* Maintain consistent look for all screen sizes */
 @media (max-width: 1050px) {
  .product-item {
    width: 90%;
    max-width: 300px; 
  }
  
  .discount-tag {
    padding: 4px ;
    font-size: 11px; 
   }
} 
 
/* @media (min-width: 1051px) {
  .product-item {
    max-width: 350px; 
  }
}  */
