.product-slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fits the container */
  object-position: center; /* Centers the image within the container */
}

.swiper {
  width: 100%; /* Make the swiper take the full width of its container */
  height: 100%; /* Match the height of the parent container */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Ensure slides conform to the parent height */
}
